$primary-color: #028FA3;

.report-container {
  padding: 2rem;

  h1 {
    color: $primary-color;
    font-weight: bold;
  }

  .table {
    thead {
      th {
        color: $primary-color;
        font-weight: 600;
        border-bottom: $primary-color;
      }
    }
    tbody {
      tr {
        &:hover {
          background-color: rgba($primary-color, 0.1);
        }
        td {
          vertical-align: middle;
        }
      }
    }
  }
}